@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body{
  min-height: 100%;
}

body{
  background: silver;
}

h2{
font-family: 'Quicksand', sans-serif;
font-weight: 400;
}

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

.bg-azul{
background:rgba(38, 77 , 149, 1.00);
}
